<label><b>Ingredients</b></label>
<div class="three fields">
    <div class="field">
        <input type="number" name="amount1">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit1">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient1">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount2">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit2">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient2">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount3">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit3">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient3">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount4">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit4">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient4">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount5">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit5">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient5">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount6">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit6">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient6">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount7">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit7">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient7">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount8">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit8">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient8">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount9">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit9">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient9">
    </div>
</div>
<div class="three fields">
    <div class="field">
        <input  type="number" name="amount10">
    </div>
    <div class="field">
        <select class="ui fluid dropdown" name="unit10">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
            <option value="oz">oz</option>
            <option value="fl oz">fl oz</option>
            <option value="tbsp">tbsp</option>
            <option value="tsp">tsp</option>
            <option value="ml">ml</option>
            <option value="cups">cups</option>
            <option value="unit">unit</option>
        </select>
    </div>
    of
    <div class="field">
        <input  name="ingredient10">
    </div>
</div>
