<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form six wide column">
            <div class="ui stacked segment">
                <form  action="/addRecipe" method="POST">
                    <div class="field">
                        <label>Recipe Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea  name="description"></textarea>
                    </div>
                    <button class="ui blue submit button">Add</button>
                </form>
            </div>
        </div>
        <aside class="eight wide column">
            <img src="images/al.png" class="ui fluid image">
        </aside>
    </div>
</section>