{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/carbonara.png" class="ui medium image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">Ready Steady Cook!!!</header>
            <p>Add your recipes here now or else...</p>
            {{> error }}
        </article>
    </div>
</section>

