{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/carbonara.png" class="ui large image" /></aside>
        <article class="ten wide column">
            <div class="ui violet inverted segment" style="background-color:darkmagenta">
                <header class="ui massive header">Ready Steady Cook!!!</header>
            </div>
            <em data-emoji="relaxed" class="medium"></em>
            <em data-emoji="avocado" class="medium"></em>
            <em data-emoji="bacon" class="medium"></em>
            <em data-emoji="bagel" class="medium"></em>
            <em data-emoji="cheese" class="medium"></em>
            <em data-emoji="eggplant" class="medium"></em>
            <em data-emoji="butter" class="medium"></em>
            <em data-emoji="sushi" class="medium"></em>
            <em data-emoji="bread" class="medium"></em>
            <em data-emoji="broccoli" class="medium"></em>
            <em data-emoji="burrito" class="medium"></em>
            {{> error }}
        </article>
    </div>
</section>

